.cryptoCard{
  display: flex;
  flex-direction: column;
 
}
.nameOfApp{
  margin:2.4rem .75rem;
  color: white;
  transition: 1s;
}


 
  

.togglebtn{
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: none;
  flex-direction:column ;
  justify-content: space-between;
  width: 30px;
  height: 20px;

  }

.togglebtn .bar
{
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 100%;

}

@media(max-width:600px){
  .togglebtn{
      display: flex;
  
  }
}